.listItem{
    max-width: 325px;
}

@media screen and (max-width: 1083px) {
    .listItem {
        max-width: 320px;
    }
  }

.item1{
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
}
