<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile><img src="assets/img/main1.jpg"><span class="centered">Life Church Archive</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <div *ngFor="let item of items">
      {{item.payload.doc.data().username}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray;">
    <input type="file" (change)="submit($event)" />
    <mat-progress-bar mode="determinate" [value]="uploadPercent"></mat-progress-bar>
    <a *ngIf="downloadURL" [href]="downloadURL">downloadURL</a>
    {{feedback}}
  </mat-grid-tile>
  <mat-grid-tile>General Footer Stuff</mat-grid-tile>
</mat-grid-list>