.hero-container {
    position: center;
    justify-content: center;
    position: absolute;
    color:white;
    display: flex;
    flex-flow:row wrap;
  }
 img{
    max-width: 100%;
    height: auto;
  }
  h1{
    font-size:5vw;
  }
  .intro-container{
    margin-left:50px;
    margin-right:50px;
    align-content: center;
    text-align: center;
  }