.hero-container {
    position: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
 .heroImg{
  width: 100%;
  height: auto;
  }
.centeredLogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divide{
  margin-top: 2%;
  margin-bottom: 2%;
}

.welcomeBlock{
  
  margin-left:50px;
  margin-right:50px;
  text-align: center;
}

.welcomeBlock p{
  margin-top: 5%;
  margin-bottom: 5%;
}

.authBlock{
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 5%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.authBlock p{
  margin-top: 5%;
  margin-bottom: 5%;
}


 
@media screen and (min-width: 500px){
  .ngx {
    width: 500px;
  }
 }
.ngx{
  margin-left: auto;
  margin-right: auto;
}

.intro-container{
    margin-left:50px;
    margin-right:50px;
    align-content: center;
    text-align: center;
  }
  .bodyText{
    margin-top: 10%;
    margin-bottom: 10%;
    color:white
  }

  .child3{
    min-height: 500px;
  }

  .sermonBlock{
    margin-left: 2.5%;
    margin-right:2.5%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }