<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <img src="assets/img/main1.jpg">
    <span class="hero-container">
      <div>
        <h1>Life Church&nbsp;</h1>
      </div>
      <div>
        <h1>Lancaster Archive</h1>
      </div>
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span class="intro-container">
      <p>Life Church is a faith community that makes space for every race, ethnicity, age, sexual orientation and gender
        identity. We welcome belief and doubt, devotion and exploration, while hoping to connect with God, one another
        and our world.</p>
      <p><button mat-raised-button (click)="openDialog()">Upload a File</button></p>
    </span>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray;">
    <ng-container *ngIf="(folders$ | async) === null">
      Loading...
    </ng-container>
    <mat-tab-group animationDuration="0ms">
      <mat-tab *ngFor="let folder of (folders$ | async)?.prefixes">
        <ng-template mat-tab-label>{{folder.name}}</ng-template>
        <ng-template matTabContent>
          <app-sermon-diplay [year]='folder.name'></app-sermon-diplay>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>general footer stuff </p>
  </mat-grid-tile>
</mat-grid-list>