<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile><img src="assets/img/main1.jpg">
    <span class="centered">
      <div style></div>
      <h1 class="text-child">Life Church</h1>&nbsp;
      <h1 class="text-child">Lancaster Archive</h1>
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <div *ngFor="let item of items">
      {{item.payload.doc.data().username}}
    </div>
    <ul *ngFor='let folder of folderResponse' style=list-style-type:none;>
      <li><button mat-raised-button color="primary">{{folder.name}}</button></li>
    </ul>
  </mat-grid-tile>


  <mat-grid-tile style="background-color: lightgray;">
    
    <button mat-button (click)="openDialog()">Open dialog</button>
  </mat-grid-tile>
  
  
  
  
  <mat-grid-tile>General Footer Stuff
    <ul *ngFor='let sermon of sermons'>
      <li>name {{sermon.name}}</li>
      <li>location: {{sermon.gsurl}}</li>
      <li>uuid: {{sermon.uuid.customMetadata.uuid}}</li>
      <button (click)="sendFile(sermon)">Text</button>
    </ul>
    <!-- <button class="btn-small white" (click)="sendFile(file.gsurl,file.uuid,$event)"> -->
  </mat-grid-tile>
</mat-grid-list>