.welcomeBlock{
    margin-left:50px;
    margin-right:50px;
    text-align: center;
  }
  .welcomeBlock p{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .bodyText{
    margin-top: 10%;
    margin-bottom: 10%;
    color:white
  }
  
  .intro-container{
    margin-left:50px;
    margin-right:50px;
    align-content: center;
    text-align: center;
  }

