<div style="background-color: #38525c">
    <div class="intro-container">
        <div class="bodyText">
            <p class="mat-display-2">Life Church Lancaster</p>
            <p class="body-1">This website represents an attempt to collect and archive old content taught from years
                2011
                to 2015.
            <p>Life Church is a faith community that makes space for every race, ethnicity, age, sexual orientation and
                gender
                identity. We welcome belief and doubt, devotion and exploration, while hoping to connect with God, one
                another
                and our world.
            </p>
            <p>This website serves as a way to interact with older content from the early days of Life Church, you can
                download, request an english text transcript or read the sermon</p>
            <div style="margin-left: auto;margin-right: auto;max-width:300px;"><mat-divider></mat-divider></div>
            <div style="margin-top: 20px;">
               <p>700 Brentwood Drive. Lititz, PA 17543</p>
                <p> 
                    <a href="https://www.facebook.com/lifechurchlancaster/"><img src="../../assets/img/icon/circleFacebook1.svg" style="width: 40px; height: 40px;"></a>
                    <a href="https://twitter.com/lifechurchlanc"><img src="../../assets/img/icon/circleTwitter1.svg" style="width: 40px; height: 40px;"></a>
                    <a href="https://itunes.apple.com/us/podcast/life-church-lancaster-podcasts/id408232211"><img src="../../assets/img/icon/circleApple.svg" style="width: 40px; height: 40px;"></a>
                    <a href="https://www.youtube.com/channel/UChOL5zZuG_UnYmV2cbXzjCA"><img src="../../assets/img/icon/circleYoutube.svg" style="width: 40px; height: 40px;"></a>
                    <a href="http://instagram.com/lifechurchlancaster"><img src="../../assets/img/icon/circleInstagram.svg" style="width: 40px; height: 40px;"></a>
                </p>
                <p><a href="https://lifechurchlancaster.org">LifeChurchLancaster.org</a></p>

            </div>

        </div>
    </div>
</div>