
   .full-width {
    /* width: 30%; */
    text-align: center;
    align-content: center;
  } 

  .searchBox{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    min-height: 500px;
  }

  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    text-align: center;
    align-content: center;
  }
  .mat-expansion-panel-header-description{
    justify-content: center;
  align-items: center;
 
  }