.loginBlock{
width:250px;
margin-left: auto;
margin-right: auto;
text-align: center;

}
.divide{
  margin-top: 2%;
  margin-bottom: 2%;
}
.authBlock{
  display: flex;
  flex-direction:column;
  text-align: center;
}

.header{
  justify-content: center;
  align-content: center;
}

button{
  margin:5px
}